[*.java]
ij_java_use_fq_class_names = false
ij_java_packages_to_use_import_on_demand = java.awt.*, javax.swing.*, org.leavesmc.leaves.bot.agent.actions.*, org.leavesmc.leaves.bot.agent.configs.*, org.leavesmc.leaves.entity.bot.action.*