name: Leaves

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Get repository
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Get JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
    - name: Setup Git Config
      run: |
        git config --global user.email "ci@leavesmc.org"
        git config --global user.name "LeavesMC CI"
    - name: Apply Patches
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: applyPatches
    - name: Create Paperclip Jar
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: createReobfPaperclipJar
    - name: Publish API
      continue-on-error: true
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: publish -PleavesUsername=${{ secrets.REPO_USERNAME }} -PleavesPassword=${{ secrets.REPO_PASSWORD }}
    - name: Create Configuration
      continue-on-error: true
      uses: gradle/gradle-build-action@937999e9cc2425eddc7fd62d1053baf041147db7
      with:
        arguments: createLeavesConfig
    - name: Push Configuration
      continue-on-error: true
      run: |
        mkdir --parents "$HOME/.ssh"
        ssh-keyscan -H "github.com" > "$HOME/.ssh/known_hosts"
        echo "${{ secrets.CONFIG_DEPLOY_KEY }}" > "$HOME/.ssh/deploy.key"
        chmod 400 "$HOME/.ssh/deploy.key"
        export GIT_SSH_COMMAND="ssh -i $HOME/.ssh/deploy.key"
        git clone git@github.com:LeavesMC/Configuration.git configuration -b Leaves
        cp run/leaves.yml configuration/leaves.yml -f
        cd configuration
        git add leaves.yml
        git commit leaves.yml -m "$(date -u +"%Y-%m-%dT%H:%M:%SZ")
        https://github.com/LeavesMC/Leaves/commit/$(cd .. && git rev-parse HEAD)"
        git push origin HEAD:Leaves
    - name: Get Release Info
      run: sh scripts/GetReleaseInfo.sh
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.jar }}
        path: ${{ env.jar }}
    - name: Create Release
      if: "!contains(github.event.commits[0].message, '[release-skip]')"
      uses: ncipollo/release-action@v1.12.0
      with:
        artifacts: ${{ env.jar }}
        bodyFile: ${{ env.info }}
        tag: ${{ env.tag }}
        name: ${{ env.name }}
        prerelease: ${{ env.pre }}
        token: ${{ secrets.GITHUB_TOKEN }}
        makeLatest: ${{ env.make_latest }}
    - name: Delete Draft Releases
      uses: hugo19941994/delete-draft-releases@v1.0.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Github Releases To Discord
      if: "!contains(github.event.commits[0].message, '[release-skip]')"
      continue-on-error: true
      uses: tsickert/discord-webhook@v5.3.0
      with:
        webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
        raw-data: ${{ env.discordmes }}
    - name: Upload to cloud
      if: "!contains(github.event.commits[0].message, '[release-skip]')"
      uses: wei/rclone@v1
      env:
        RCLONE_CONF: ${{ secrets.RCLONE_CONF }}
      with:
        args: copy ${{ env.jar }} FTP:${{ env.tag }}
    - name: Push to API
      if: "!contains(github.event.commits[0].message, '[release-skip]')"
      continue-on-error: true
      env:
        secret: ${{ secrets.API_PUSH_TOKEN }}
        secret_v2: ${{ secrets.API_V2_PUSH_TOKEN }}
        tag: ${{ env.tag }}
      run: sh scripts/PushToAPI.sh
