# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Leaves Test CI

on:
  push:
    branches-ignore:
      - master
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "zulu"
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          add-job-summary: never
          generate-job-summary: false
          cache-read-only: false
      - name: Setup Git Config
        run: |
          git config --global user.email "ci@leavesmc.top"
          git config --global user.name "Leaves CI"
      - name: Apply Patches
        run: ./gradlew applyPatches
      - name: Create Paperclip Jar
        run: ./gradlew createReobfPaperclipJar
      - name: Get Release Info
        run: sh scripts/GetReleaseInfo.sh
      - name: Archive Leaves
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.jar }}
          path: ${{ env.jar }}
